{% extends "otree_markets/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Market
{% endblock %}

{% block scripts %}
    <script type="module" src="/static/otree_visual_markets/visual_markets.js"></script>
    <script type="module" src="/static/otree_visual_markets/currency_scaler.js"></script>
    <script src="{% static 'otree_visual_markets/highcharts.js' %}"></script>
{% endblock %}

{% block styles %}
    <style>
        /* disable otree page title header */
        .otree-title.page-header {
            display: none;
        }
    </style>
{% endblock %}

{% block content %}

    <currency-scaler
        x-scale="{{ config.x_currency_scale }}"
        y-scale="{{ config.y_currency_scale }}"
    ></currency-scaler>

    <!-- note that x_bounds and y_bounds here are the scaled bounds from vars_for_template, not the bounds from the config -->
    <visual-markets
        initial-x="{{ player.asset_endowment }}"
        initial-y="{{ player.cash_endowment }}"
        x-bounds="{{ x_bounds }}"
        y-bounds="{{ y_bounds }}"
        max-utility="{{ config.max_utility }}"
        utility-function-string="{{ config.utility_function }}"
        heatmap-enabled="{{ config.heatmap_enabled }}"
        static-grid-enabled="{{ config.static_grid_enabled}}"
        show-n-best-orders="{{ config.show_n_best_orders }}"
        show-n-most-recent-trades="{{ config.show_n_most_recent_trades }}"
        show-own-trades-only="{{ config.show_own_trades_only }}"
        use-partial-equilibrium="{{ config.use_partial_equilibrium }}"
        show-market-on-heatmap="{{ config.show_market_on_heatmap }}"
        show-order-book="{{ config.show_order_book }}"
        show-trade-dot="{{ config.show_trade_dot }}"
        trade-box-scale="{{ config.trade_box_scale}}"
        disable-input-entry="{{ config.disable_input_entry }}"
        x-scale="{{ config.x_currency_scale }}"
        y-scale="{{ config.y_currency_scale }}"
    ></visual-markets>

{% endblock %}
