{% extends "otree_markets/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Market
{% endblock %}

{% block scripts %}
    <script type="module" src="/static/otree_visual_markets/visual_markets.js"></script>
    <script type="module" src="/static/otree_markets/disable_interface_overlay.js"></script>
{% endblock %}

{% block styles %}
    <style>
        /* disable otree page title header */
        .otree-title.page-header {
            display: none;
        }
    </style>
{% endblock %}

{% block content %}

    <disable-interface-overlay
    ></disable-interface-overlay>

    {% with config=subsession.config %}
    <visual-markets
        x-bounds="{{ config.x_bounds }}"
        y-bounds="{{ config.y_bounds }}"
        max-utility="{{ config.max_utility }}"
        utility-function-string="{{ config.utility_function }}"
    ></visual-markets>
    {% endwith %}

{% endblock %}
