* {
    box-sizing: border-box;
}

.header {
    background-color: lightgray;
    display: flex;
    padding: 1em;
}
.header > .flex-padding {
    flex: 0 1 2em;
}
.header span:first-child {
    font-weight: bold;
}

h3 {
    font-size: 16px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #FAFAFA;
    font-weight: bold;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    margin-left: 10px;
    text-transform: none;
}
.full-width {
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);
}
.flex-fill {
    flex: 1 0 0;
    min-height: 0;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    height: 90vh;
}
.right-side {
    position: relative;
    flex-grow: 1;
    flex-basis: 75vh;
}
#results {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-75%, -45%);
    background:#e1e1e1;
    margin: 0 auto;
    z-index: 1;
    padding:20px;
    -webkit-box-shadow:0 0 10px rgba(0,0,0,0.4);
    -moz-box-shadow:0 0 10px rgba(0,0,0,0.4);
    box-shadow:0 0 10px rgba(0,0,0,0.4);
    border-radius: 3px;
    /* text-align: center; */
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}
.list-container {
    display: flex;
    flex: 1;
    justify-content: center;
}
.list-cell {
    flex: 1 0 40px;
    max-width: 250px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}
.info-table-and-log {
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-table-and-log > div {
    width: 100%;
    flex: 1;
    margin: 5px;
}
.log {
    min-height: 150px;
    max-width: 500px;
    height: 10em;
    border: 2px solid black;
    border-radius: 5px;
}
.info-table {
    max-width: 300px;
    display:table;
    text-align: center;
    border-radius: 5px;
    border: 2px solid black;
    align-items:center;
}
.Title
{
    background-color: black;
    color:white;
    text-align: center;
    font-weight: bold;
}
.Heading
{
    display: table-row;
    font-weight: bold;
    text-align: center;
}
.Row
{
    display: table-row;
    text-align:center;
}
.Cell
{
    display: table-cell;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
}
.heatmap-cell {
    display: flex;
    align-items: center;
    flex: 1;
    padding: 10px 10px 0 0;
}
.grid-cell {
    display: flex;
    align-items: center;
    flex: 1;
}
heatmap-element {
    width: 100%;
}

filtered-order-list, filtered-trade-list, heatmap-element {
    border-radius: 5px;
    border: 1px solid black;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:10px;
    margin-right:10px;
}

.pricevolumeinput{
    text-align: center;
    margin: 10px;
    display: table;
    border-radius: 2px;
    border: 1px solid grey;
    justify-content: center;
    align-items: center;
}

.infoboxcell{
    text-align: center;
    margin: auto;
    width:100%;
    display: table;
    border-radius: 2px;
    border: 1px solid grey;
    justify-content: center;
    align-items: center;
}
.infoboxrow{
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    width:100%;
    display: table;
    border-radius: 2px;
    border: 1px solid grey;
    justify-content: center;
    align-items: center;
}

label {
    margin:auto;
    padding:2px;
    border-right: 1px solid grey;
    border-left: 1px solid white;
    border:1;
    -webkit-box-shadow: inset 3px 3px 25px 35px #EBEBEB;
    box-shadow: inset 3px 3px 25px 35px #EBEBEB;
    display: table-cell;
    width: 25%
}

span {
    display: table-cell;
    padding: 0 0 0 5px
}

input[type=number] {
    margin:auto;
    background-color: transparent;
    border: 0px solid;
    width: 90%;
    height: 30px;
    }

button{
    margin: auto;
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;

    padding: 6px;
    border-radius: 5px;
    display: flex;
    border: none;
    transition: all 0.4s ease 0s;
}


button:hover{
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

.form-group{
    width: auto;
    padding: 20px;
    float: left;
    }

.standalone-pricevolume {
    margin: 0 auto 0 auto;
}

.standalone-pricevolume button {
    background-color:  #EBEBEB;
    color: black !important;
}
